In [1]:
# Standard Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from pathlib import Path
import warnings

# Konfiguration
warnings.filterwarnings('ignore')
pd.set_option('display.max_columns', 100)

# Plotting Style
sns.set_style("whitegrid")
plt.rcParams['figure.figsize'] = (12, 6)

print("✓ Setup abgeschlossen")

✓ Setup abgeschlossen

In [2]:
csv_path = '/Users/tobi/Library/CloudStorage/OneDrive-Persönlich/Dokumente/Uni/Masterarbeit - Thema/WRDS Export.csv'

df_raw = pd.read_csv(csv_path, sep=';', encoding='utf-8', low_memory=False)

print(f"Shape: {df_raw.shape}")
print(f"Spalten: {len(df_raw.columns)}")
print(f"Zeilen: {len(df_raw)}")

Shape: (8076, 473)
Spalten: 473
Zeilen: 8076

In [3]:
# Erste Zeilen anschauen
df_raw.head()

,fic,costat,datafmt,indfmt,consol,gvkey,datadate,conm,isin,sedol,exchg,fyr,add1,add2,add3,add4,addzip,busdesc,cik,city,conml,county,dlrsn,ein,fax,fyrc,ggroup,gind,gsector,gsubind,idbflag,incorp,loc,naics,phone,prican,prirow,priusa,sic,spcindcd,spcseccd,spcsrc,state,stko,weburl,dldte,ipodate,acctstd,acqmeth,bspr,...,xaccfs,xago,xagt,xcom,xcomi,xdvre,xeqo,xi,xido,xidoc,xindb,xindc,xins,xinst,xint,xintd,xivi,xivre,xlr,xnitb,xobd,xoi,xopr,xopro,xore,xpp,xppfs,xpr,xrd,xrent,xs,xsga,xstf,xstfo,xstfws,xt,ajexi,cshoi,cshpria,epsexcon,epsexnc,epsincon,epsinnc,icapi,naicsh,nicon,ninc,pv,sich,tstkni
0,DEU,A,HIST_STD,FS,C,15677,31.12.14,MUNICH RE CO,DE0008430026,5294121,171.0,12,Koniginstrasse 107,NaN,NaN,NaN,80802,Munchener Ruckversicherungs-Gesellschaft Aktie...,1437199.0,Munich,Muenchener Rueckversicherungs-Gesellschaft Akt...,NaN,NaN,NaN,49 89 39 90 56,12.0,4030.0,403010.0,40.0,40301050.0,B,NaN,DEU,524130.0,49 89 38 91 0,NaN,01W,90.0,6311.0,825.0,800.0,NaN,NaN,3.0,www.munichre.com,NaN,NaN,DI,NaN,GB,...,90.320.000,NaN,119.510.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.240.000,NaN,NaN,NaN,NaN,NaN,NaN,7.750.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.970.000,NaN,NaN,NaN,NaN,501.820.000,100.000.000,16.851.500,17.217.000,1.831.330,NaN,1.831.330,NaN,NaN,524130.0,315.300.000,NaN,NaN,6311.0,442.800
1,DEU,I,HIST_STD,FS,C,15518,31.03.14,IKB DEUTSCHE INDUSTRIEBANK,DE0008063306,5169865,154.0,3,Wilhelm-Botzkes-Strasse 1,NaN,NaN,NaN,40474,"IKB Deutsche Industriebank AG provides loans, ...",NaN,Dusseldorf,"IKB Deutsche Industriebank AG, Duesseldorf",NaN,10.0,NaN,49 211 8221 3959,12.0,4010.0,401010.0,40.0,40101010.0,I,NaN,DEU,522110.0,49 211 8221 0,NaN,01W,NaN,6020.0,850.0,800.0,NaN,NaN,NaN,www.ikb.de,06.04.20,NaN,DS,NaN,GB,...,179.000,NaN,8.822.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.739.000,NaN,NaN,NaN,NaN,16.894.000,NaN,NaN,NaN,NaN,NaN,1.309.000,1.309.000,NaN,NaN,NaN,7.197.000,NaN,NaN,NaN,NaN,27.633.000,100.000.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,522110.0,3.220.000,NaN,NaN,6020.0,NaN
2,DEU,I,HIST_STD,FS,C,15518,31.03.15,IKB DEUTSCHE INDUSTRIEBANK,DE0008063306,5169865,154.0,3,Wilhelm-Botzkes-Strasse 1,NaN,NaN,NaN,40474,"IKB Deutsche Industriebank AG provides loans, ...",NaN,Dusseldorf,"IKB Deutsche Industriebank AG, Duesseldorf",NaN,10.0,NaN,49 211 8221 3959,12.0,4010.0,401010.0,40.0,40101010.0,I,NaN,DEU,522110.0,49 211 8221 0,NaN,01W,NaN,6020.0,850.0,800.0,NaN,NaN,NaN,www.ikb.de,06.04.20,NaN,DS,NaN,GB,...,136.000,NaN,8.692.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.365.000,NaN,NaN,NaN,NaN,20.512.000,NaN,NaN,NaN,NaN,NaN,747.000,747.000,NaN,NaN,NaN,11.172.000,NaN,NaN,NaN,NaN,29.877.000,100.000.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,522110.0,470.000,NaN,NaN,6020.0,NaN
3,DEU,I,HIST_STD,FS,C,15518,31.03.16,IKB DEUTSCHE INDUSTRIEBANK,DE0008063306,5169865,154.0,3,Wilhelm-Botzkes-Strasse 1,NaN,NaN,NaN,40474,"IKB Deutsche Industriebank AG provides loans, ...",NaN,Dusseldorf,"IKB Deutsche Industriebank AG, Duesseldorf",NaN,10.0,NaN,49 211 8221 3959,12.0,4010.0,401010.0,40.0,40101010.0,I,NaN,DEU,522110.0,49 211 8221 0,NaN,01W,NaN,6020.0,850.0,800.0,NaN,NaN,NaN,www.ikb.de,06.04.20,NaN,DS,NaN,GB,...,128.000,NaN,8.216.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.469.000,NaN,NaN,NaN,NaN,18.392.000,NaN,NaN,NaN,NaN,NaN,2.753.000,2.753.000,NaN,NaN,NaN,10.084.000,NaN,NaN,NaN,NaN,24.861.000,100.000.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,522110.0,1.040.000,NaN,NaN,6020.0,NaN
4,DEU,I,HIST_STD,FS,C,15518,31.03.17,IKB DEUTSCHE INDUSTRIEBANK,DE0008063306,5169865,154.0,3,Wilhelm-Botzkes-Strasse 1,NaN,NaN,NaN,40474,"IKB Deutsche Industriebank AG provides loans, ...",NaN,Dusseldorf,"IKB Deutsche Industriebank AG, Duesseldorf",NaN,10.0,NaN,49 211 8221 3959,12.0,4010.0,401010.0,40.0,40101010.0,I,NaN,DEU,522110.0,49 211 8221 0,NaN,01W,NaN,6020.0,850.0,800.0,NaN,NaN,NaN,www.ikb.de,06.04.20,NaN,DS,NaN,GB,...,100.000,NaN,7.669.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.123.000,NaN,NaN,NaN,NaN,14.411.000,NaN,NaN,NaN,NaN,NaN,1.131.000,1.131.000,NaN,NaN,NaN,6.908.000,NaN,NaN,NaN,NaN,19.534.000,100.000.000,63.338.500,63.338.500,0.04040,NaN,0.04040,NaN,NaN,522110.0,2.560.000,NaN,NaN,6020.0,NaN

In [4]:
# Info über Datentypen
df_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8076 entries, 0 to 8075
Columns: 473 entries, fic to tstkni
dtypes: float64(211), int64(2), object(260)
memory usage: 29.1+ MB

In [5]:
# Fehlende Werte pro Spalte (Top 20)
missing = df_raw.isna().sum().sort_values(ascending=False).head(20)
missing_pct = (missing / len(df_raw) * 100).round(1)

missing_df = pd.DataFrame({
    'Fehlende Werte': missing,
    'Prozent': missing_pct
})

print("Top 20 Spalten mit meisten fehlenden Werten:")
missing_df

Top 20 Spalten mit meisten fehlenden Werten:

        Fehlende Werte  Prozent
lcacr             8076    100.0
stkch             8076    100.0
nit               8076    100.0
invsvc            8076    100.0
nio               8076    100.0
dltis             8076    100.0
dltr              8076    100.0
neqmi             8076    100.0
doc               8076    100.0
subpur            8076    100.0
ncfliq            8076    100.0
dpdc              8076    100.0
dpltb             8076    100.0
dpsc              8076    100.0
dpstb             8076    100.0
dptic             8076    100.0
mtl               8076    100.0
miseq             8076    100.0
dvpdp             8076    100.0
dvrec             8076    100.0

In [6]:
# Wichtige Finanzkennzahlen-Spalten
key_columns = ['conm', 'datadate', 'at', 'revt', 'ebit', 'ebitda', 'ib', 'seq', 'lt', 'emp']
available = [col for col in key_columns if col in df_raw.columns]

df_key = df_raw[available].copy()

print("Verfügbare wichtige Spalten:")
print(available)
print("\nStatistiken:")
df_key.describe()

Verfügbare wichtige Spalten:
['conm', 'datadate', 'at', 'revt', 'ebit', 'ebitda', 'ib', 'seq', 'lt', 'emp']

Statistiken:

,conm,datadate,at,revt,ebit,ebitda,ib,seq,lt,emp
count,8076,8076,4405,4378,4356,4360,4406,4402,4404,3353
unique,932,117,4346,4022,3987,4034,3963,4155,4180,1855
top,VERBIO SE,31.12.14,0.0130,0.0000,0.0000,0.0000,0.0000,0.0000,0.0030,0.0010
freq,12,715,4,191,12,12,20,108,9,84